<app-navbar-one/>

<div class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70" style="background-image:url('assets/img/shortcode/breadcumb.jpg');">
    <div class="text-center w-full">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Checkout</h2>
        <ul class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4 flex-wrap">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Checkout</li>
        </ul>
    </div>
</div>

<div class="s-py-100">
    <div class="container">
        <div class="max-w-[1220px] mx-auto grid lg:grid-cols-2 gap-[30px] lg:gap-[70px]">
            <div class="bg-[#FAFAFA] dark:bg-dark-secondary p-[30px] md:p-[40px] lg:p-[50px] border border-[#17243026] border-opacity-15 rounded-xl" data-aos="fade-up">
                
                <!-- <p class='mb-5 w-full bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300 whitespace-normal'>Are you missing your coupon code ? 
                    <button (click)="showCoupon = !showCoupon" class='ml-1 add-coupon-code underline text-[#209A60]'> Click here to add</button>
                </p>
                
                <div *ngIf="showCoupon" class="coupon-wrapper gap-3 md:flex mb-[30px]">
                    <div>
                        <input class="max-w-[220px] w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="text" placeholder="Coupon code">
                    </div>
                    <div class="mt-2 md:mt-0">
                        <a [routerLink]="[]" class="btn btn-sm-px btn-theme-solid " data-text="Apply coupon">
                            <span>Apply coupon</span>
                        </a>
                    </div>
                </div> -->

                <h4 class="font-semibold leading-none text-xl md:text-2xl mb-6 md:mb-[30px]">Address</h4>
                <div class="loader-wrapper" *ngIf="isLoading">
                    <span class="loader"></span>
                </div>
                <div class="grid gap-5 mg:gap-6">
                        <div class="flex items-center justify-between gap-5 border border-[#17243026] border-opacity-15 rounded-xl p-4" *ngFor="let item of addresses">
                            <div class="flex items-center gap-3 md:gap-4 lg:gap-6 cart-product flex-wrap">
                                <div class="flex-1">
                                    <h5 class="font-semibold leading-none mt-2"><a [routerLink]="[]">{{item.username}}</a></h5>
                                    <h6 class="leading-none font-medium">{{item.address1}}</h6>
                                    <h6 class="leading-none font-medium">{{item.address2}}</h6>
                                    <h6 class="leading-none font-medium">{{item.village}}</h6>
                                    <h6 class="leading-none font-medium">{{item.ucity + ', ' + item.ustate + ', ' + item.pincode}}</h6>
                                </div>
                            </div>
                            
                            <div class="mt-4 md:mt-6 flex flex-wrap gap-3">
                                <button class="btn btn-outline" data-text="Selected" [disabled]="isAddressSelected(item)" *ngIf="isSelected(item)" >
                                    <span>Selected</span>
                                </button>
                                <button class="btn btn-outline" data-text="Select" (click)="selectAddress(item)" *ngIf="!isSelected(item)" >
                                    <span>Select</span>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="mt-4 grid gap-5 md:gap-6">
                        <div>
                            <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">
                                Delivery Note    
                            </label>
                            <textarea
                                class="w-full h-[120px] bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300"
                                name="Message" placeholder="Type your message" [(ngModel)]="deliveryNote"></textarea>
                        </div>
                    </div>
                <!-- <h4 class="font-semibold leading-none text-xl md:text-2xl mb-6 md:mb-[30px]">Billing Information</h4>
                <div class="grid gap-5 md:gap-6">
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Full Name</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="text" placeholder="Enter your full name">
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Email</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="number" placeholder="Enter your email address">
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Phone No.</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="number" placeholder="Type your phone number">
                    </div>
                    <div class="grid md:grid-cols-2 gap-5 md:gap-6">
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block"> Town / City</label>
                        <select class="nice-select select-active p-4 !bg-white dark:!bg-dark-secondary">
                            <option value={1}>Sylht</option>
                            <option value={2}>Dhaka</option>
                            <option value={2}>Chittagong</option>
                            <option value={2}>Rajshahi</option>
                            <option value={2}>Bogura</option>
                        </select>
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Zip Code</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="text" placeholder="1217">
                    </div>
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Address Line 1</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="number" placeholder="Your full address">
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Address Line 2</label>
                        <input class="w-full h-12 md:h-14 bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" type="number" placeholder="Your full address">
                    </div>
                    <div>
                        <label class="text-base md:text-lg text-title dark:text-white leading-none mb-2 sm:mb-3 block">Additional Text</label>
                        <textarea class="w-full h-[120px] bg-white dark:bg-dark-secondary border border-[#E3E5E6] text-title dark:text-white focus:border-primary p-4 outline-none duration-300" name="Message" placeholder="Type your message"></textarea>
                    </div>
                </div> -->
            </div>

            <div data-aos="fade-up" data-aos-delay="200">
                <div class="bg-[#FAFAFA] dark:bg-dark-secondary pt-[20px] md:pt-[30px] lg:pt-[40px] px-[20px] md:px-[30px] lg:px-[30px] pb-[20px] border border-[#17243026] border-opacity-15 rounded-xl">   
                    <h4 class="font-semibold leading-none text-xl md:text-2xl mb-6 md:mb-10"></h4>
                    <div class="grid gap-5 mg:gap-6">

                        <div class="flex items-center justify-between gap-5" *ngFor="let item of cartItems">
                            <div class="flex items-center gap-3 md:gap-4 lg:gap-6 cart-product flex-wrap">
                                <div class="w-16 sm:w-[70px] flex-none">
                                    <img [src]="item.imgpath" alt="product">
                                </div>
                                <div class="flex-1">
                                    <h6 class="leading-none font-medium">{{item.catname}}</h6>
                                    <h5 class="font-semibold leading-none mt-2"><a [routerLink]="[]">{{item.itemname}}</a></h5>
                                </div>
                            </div>
                            
                            <h6 class="leading-none">
                                {{item.scost | currency:'INR'}}
                            </h6>
                            <h6 class="leading-none">
                                {{item.quantity}}
                            </h6>
                        </div>

                    </div>
                    <!-- <div class="mt-6 pt-6 border-t border-bdr-clr dark:border-bdr-clr-drk text-right flex justify-end flex-col w-full ml-auto mr-0">
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium">
                            <span>Sub Total:</span>
                            <span>$870</span>
                        </div>
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium mt-3">
                            <span>Coupon Discount:</span>
                            <span>-$20</span>
                        </div>
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium mt-3">
                            <span>VAT:</span>
                            <span> $5</span>
                        </div>
                        
                    </div>
                    <div class="mt-6 pt-6 border-t border-bdr-clr dark:border-bdr-clr-drk">
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium mt-3">
                            <div>
                                <label class="flex items-center gap-[10px] categoryies-iteem">
                                    <input class="appearance-none hidden" type="radio" name="item-type">
                                    <span class="w-4 h-4 rounded-full border border-title dark:border-white flex items-center justify-center duration-300">
                                        <svg class="duration-300 opacity-0" width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="10" height="10" rx="5" fill="#BB976D"/>
                                        </svg>
                                    </span>
                                    <span class="sm:text-lg text-title dark:text-white block sm:leading-none transform translate-y-[3px] select-none">Free Shipping:</span>
                                </label>
                            </div>
                            <span> $0</span>
                        </div>
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium mt-3">
                            <div>
                                <label class="flex items-center gap-[10px] categoryies-iteem">
                                    <input class="appearance-none hidden" type="radio" name="item-type">
                                    <span class="w-4 h-4 rounded-full border border-title dark:border-white flex items-center justify-center duration-300">
                                        <svg class="duration-300 opacity-0" width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="10" height="10" rx="5" fill="#BB976D"/>
                                        </svg>
                                    </span>
                                    <span class="sm:text-lg text-title dark:text-white block sm:leading-none transform translate-y-[3px] select-none">Fast Shipping:</span>
                                </label>
                            </div>
                            <span>$10</span>
                        </div>
                        <div class="flex justify-between flex-wrap text-base sm:text-lg text-title dark:text-white font-medium mt-3">
                            <div>
                                <label class="flex items-center gap-[10px] categoryies-iteem">
                                    <input class="appearance-none hidden" type="radio" name="item-type">
                                    <span class="w-4 h-4 rounded-full border border-title dark:border-white flex items-center justify-center duration-300">
                                        <svg class="duration-300 opacity-0" width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="10" height="10" rx="5" fill="#BB976D"/>
                                        </svg>
                                    </span>
                                    <span class="sm:text-lg text-title dark:text-white block sm:leading-none transform translate-y-[3px] select-none"> Local Pickup:</span>
                                </label>
                            </div>
                            <span>$15</span>
                        </div>
                    </div> -->
                    <div class="mt-6 pt-6 border-t border-bdr-clr dark:border-bdr-clr-drk">
                        <div class="flex justify-between flex-wrap font-semibold leading-none text-2xl md:text-3xl">
                            <span>Total:</span>
                            <span>&nbsp;{{ cartTotal | currency:'INR' }}</span>
                        </div>
                    </div>
                </div> 
                <div class="mt-7 md:mt-12">
                    <h4 class="font-semibold leading-none text-xl md:text-2xl mb-6 md:mb-10">Payment Method</h4>
                    <!-- <div class="flex gap-5 sm:gap-8 md:gap-12 flex-wrap">
                        <div>
                            <label class="flex items-center gap-[10px] categoryies-iteem">
                                <input class="appearance-none hidden" type="radio" name="item-type">
                                <span class="w-4 h-4 rounded-full border border-title dark:border-white flex items-center justify-center duration-300">
                                    <svg class="duration-300 opacity-0" width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="10" height="10" rx="5" fill="#BB976D"/>
                                    </svg>
                                </span>
                                <span class="sm:text-lg text-title dark:text-white block sm:leading-none transform translate-y-[3px] select-none">Cash On Delivery</span>
                            </label>
                            <p class="ml-6 text-[15px] leading-none mt-2">Time ( 07 - 10 ) Days</p>
                        </div>
                        <div>
                            <label class="flex items-center gap-[10px] categoryies-iteem">
                                <input class="appearance-none hidden" type="radio" name="item-type">
                                <span class="w-4 h-4 rounded-full border border-title dark:border-white flex items-center justify-center duration-300">
                                    <svg class="duration-300 opacity-0" width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="10" height="10" rx="5" fill="#BB976D"/>
                                    </svg>
                                </span>
                                <span class="sm:text-lg text-title dark:text-white block sm:leading-none transform translate-y-[3px] select-none">Debit / Credit Card</span>
                            </label>
                            <p class="ml-6 text-[15px] leading-none mt-2">Time ( 07 - 10 ) Days</p>
                        </div>
                    </div> -->
                    <!-- <div class="mt-6 sm:mt-8 md:mt-10">
                        <label class="flex items-center gap-2 iam-agree">
                            <input class="appearance-none hidden" type="checkbox" name="categories">
                            <span class="w-6 h-6 rounded-[5px] border-2 border-title dark:border-white flex items-center justify-center duration-300">
                                <svg  class="duration-300 opacity-0 text-title dark:text-white fill-current" width="15" height="12" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.3819 0.742676L6.10461 11.8998L2.25731 8.06381L0.763672 9.55745L6.20645 15.0002L20 2.32686L18.3819 0.742676Z"/>
                                </svg>
                            </span>
                            <span class="text-base sm:text-lg text-title dark:text-white leading-none sm:leading-none select-none inline-block transform translate-y-[3px]">I Agree all terms & Conditions</span> 
                        </label>
                    </div> -->
                    <div class="mt-4 md:mt-6 flex flex-wrap gap-3">
                        <button [disabled]="checkoutDisable"
                            [routerLink]="'/cart'" class="btn btn-outline" data-text="Back to Cart">
                            <span>Back to Cart</span>
                        </button>
                        <button (click)="handleOrder()" [disabled]="checkoutDisable || isLoading" class="btn btn-theme-solid" [attr.data-text]="checkoutDisable ? 'Loading...' : 'Place to Order'">
                            <span *ngIf="!checkoutDisable">Place to Order</span>
                            <span *ngIf="checkoutDisable">Loading...</span>
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<app-footer-one/>